:root {
   --primary-text-color:#757575;
   --paragraph-text-color: #757575;
   --title-text-color: #212121;
   --accent-text-color: #2196F3;
   --accentbutton-text-color: #FFFFFF;
   --contact-text-color: #757575;
   --primary-white-color: #FFFFFF;
   --button-white-color: #F5F4FA;
   --bg-fon-color: #2F303A;
   --comand-bg-color: #F5F4FA;
   --icon-bg-color: #AFB1B8;
   --icon-blue-color: #188CE8;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}