.hero {
   max-width: 1600px;
   margin: auto;
   background-position: center;
   padding: 200px 0;
   background: rgba(47, 48, 58, 0.4);


   @media screen and (max-width: 480px) {
      max-width: 480px;
      height: auto;
      padding: 118px 0;
      background-image: linear-gradient(to right,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
         url(../images/hero1x.jpg);
   }
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   .hero {
      background-image: url(../images/hero2x.jpg);
      background-size: cover;
   }
}

@media (min-width: 480px) {
   .hero {
      background-image: url(../images/hero-tablet1x.jpg);
      background-size: cover;
   }

@media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      .hero {
      background-image: url(../images/hero-tablet2x.jpg);
      background-size: cover;
      }
   }
}

@media (min-width: 1200px) {
   .hero {
      background-image: url(../images/hero-desctop1x.jpg);
      background-size: cover;
   }

@media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      .hero {
      background-image: url(../images/hero-desctop2x.jpg);
      background-size: cover;
      }
   }
}

.hero__title {
   width: 360px;
   margin: 0 auto;
   margin-bottom: 30px;

   font-weight: 900;
   font-size: 24px;
   line-height: 1.6;
   text-align: center;
   text-transform: uppercase;
   color: var(--primary-white-color);
}

.hero__item {
   display: flex;
   justify-content: center;
}

.hero__button {
   width: 200px;
   height: 50px;
   left: 700px;
   top: 430px;
   align-items: center;

   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   color: var(--accentbutton-text-color);

   background: var(--accent-text-color);

   border: none;
   border-radius: 4px;
   cursor: pointer;

   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      background-color: #188CE8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   }
}



